.shop-book-item{
  background: pink;
}

.header{
  width: 100vw;
  height: 90vh;
  background-image: url('/bookheader.jpg');
  background-size: cover;
  background-position: center;
}
.header h1{
  color: white;
}

.hide{
  /* visibility: hidden; */
  display: none;
}

.show{
  /* visibility: visible ; */
  display: grid;
}

.step{
  background: pink;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10%;
  /* display: grid; */
  justify-content: center;
  /* position: absolute; */
}